<h1>Listing answers</h1>

<table>
  <tr>
    <th>Id</th>
    <th>User ID</th>
    <th>Task</th>
    <th>Value</th>
    <th>Column name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @answers.each do |answer| %>
  <% if answer.user_id == 0 %>
    <tr>
      <td><%= answer.id %></td>
      <td><%= answer.user_id %></td>
      <td><%= answer.task_id %></td>
      <td><%= answer.value %></td>
      <td><%= answer.column_name %></td>
      <td><%= link_to 'Show', answer %></td>
      <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
      <td><%= link_to 'Destroy', answer, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Answer', new_answer_path %>
