<div id="column_modal" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>New Column</h3>
  </div>
  <div class="modal-body">
    Please enter new column name.
     <%= form_for @new_answer do |f| %>
      <%= f.hidden_field :task_id, :value => @hash_card.tasks.first.id %>
      <%= f.hidden_field :user_id%>
      <%= f.text_field :column_name %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn secondary myclose" >Cancel</a>
    <%= f.submit "Submit", :class=>"btn primary"%>
    <% end %>
  </div>
</div>
