<h2 align="left"><%= @hash_card.name %> checklist<h2>
<p align="right"><%= link_to "New Card",new_hashcard_path, :class => "btn primary" %></p>

<table class="bordered-table zebra-striped" id="mainTable">
<tr><th>&nbsp</th>
<% @hash_card.tasks.first.answers.each do |a|%>
  <th><%= a.column_name %> <% if !current_user.nil?  %><%= link_to 'Destroy', a, confirm: 'Are you sure?', method: :delete, :class => "btn small danger"%> </th><% end %>
<% end %>
</tr>
<% @hash_card.tasks.each do |t| %>
  <tr>
  <td><% if !current_user.nil?  %><%= link_to 'Destroy', t, confirm: 'Are you sure?', method: :delete, :class => "btn small danger"%><% end %> <%= t.name %></td>
  <% if !current_user.nil?  %>
    <% t.answers.for_user(current_user).each do |a| %>
      <td>
        <%= form_for a, :html => {:class=>'answer-form',:id=>"answer_for_#{a.task.id}_#{a.column_name}" } do |f| %>
            <%= f.check_box :value,:class => 'answer-cb',:id => "cb-#{a.id}"%><label for="cb-<%=a.id%>"></label>
            <%= f.hidden_field :column_name%>
            <%= f.hidden_field :task_id %>
        <% end %>
      </td>
    <% end %>
 <%else%>
    <td>
     <%= check_box_tag :value,:class => 'answer-cb'%>
     &nbsp
    <td>
 <% end %>
 </tr>
<% end %>
</table>

<% if !current_user.nil?  %>
  <button id ="button_column" class = "btn primary" data-keyboard="true" data-backdrop="true" data-controls-modal="column_modal">New Column</button>
  <button id ="button_row" class = "btn primary" data-keyboard="true" data-backdrop="true" data-controls-modal="row_modal">New Row</button>
  <button id ="button_edit_column" class = "btn info" data-keyboard="true" data-backdrop="true" data-controls-modal="edit_column_modal">Edit Column</button>
  <button id ="button_edit_row" class = "btn info" data-keyboard="true" data-backdrop="true" data-controls-modal="edit_row_modal">Edit Row</button>
  <%= render 'column_modal' %>
  <%= render 'row_modal' %>
  <%= render 'edit_column_modal' %>
  <%= render 'edit_row_modal' %>
<% else %>
<% end %>

<%= render 'javascript_css.html.erb' %>

