<h1><%= @hash_card.name %> checklist</h1> 
<table class="bordered-table zebra-striped" id="mainTable" align="left" style="width: 90%;">
<tr><td>&nbsp</td><th><%= @hash_card.tasks.first.answers.first.column_name %></th></tr>
<% @hash_card.tasks.each do |t| %>
  <tr>
  <td><%= t.name %></td>
  <% if !current_user.nil?  %>
    <% t.answers.for_user(current_user).each do |a| %>
      <td>
        <%= form_for a, :html => {:class=>'answer-form',:id=>"answer_for_#{a.task.id}_#{a.column_name}" } do |f| %>
            <%= f.check_box :value,:class => 'answer-cb'%>
            <%= f.hidden_field :column_name%>
            <%= f.hidden_field :task_id %>
        <% end %>
      </td>
    <% end %>
 <%else%>
    <td>
     <%= check_box_tag :value,:class => 'answer-cb'%>
    <td>
 <% end %>
 </tr>
<% end %>
</table>

<div id="column_modal" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>New Column</h3>
  </div>
  <div class="modal-body">
    Please enter the new column name
    <form>
      <input class="small" name="new_column" />
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" id="close_column_modal" class="btn secondary">Cancel</a>
    <a href="#" class="btn primary">Submit</a>
  </div>
</div>
<button id ="button_column" class = "btn primary" style="height: 200px; width: 10%" data-keyboard="true" data-backdrop="true" data-controls-modal="column_modal">New Column</button>

</br>
<button id ="button_row" class = "btn info" style="height: 50px; width: 100%">New Row</button>

<div id="new_row_dialog" title="Create New Row">
  Please enter the new row name
  <form>
    <input class="small" name="new_row" />
  </form>
</div>

<script>
$(function(){
  $('.answer-cb').click(function(){
    $(this).parents('form').submit();
  });
});

$(function(){
  $('#close_column_modal').click(function(){
    $('#column_modal').modal('hide');
  });
});

$(function(){
  $('#new_row_dialog').dialog({
    autoOpen: false,
    width: 600,
    buttons: {
      "Ok": function() { 
        $(this).dialog("close"); 
      }, 
      "Cancel": function() { 
        $(this).dialog("close"); 
      } 
    }
  });
  $('#button_row').click(function(){
    $('#new_row_dialog').dialog('open');
    return false;
  });
});

</script>
